body {
  font-family: Scada, Arial, Helvetica, sans-serif;
  background: url(img/debut_dark.png) repeat;
}

.toppanel {
  background-color: #000;
  margin-bottom: 5px;
  padding: 10px 0;
  color: #fff;
  width: 100%;
  height: 24px;
  .logo {
    img {
      width: 145px;
      margin-left: 10px;
    }
    display: inline-block;
  }
  .logout {
    display: inline-block;
    cursor: pointer;
    vertical-align: text-top;
    img {
      width: 100px;
      margin-right: 10px;
    }
  }
}

.title {
  padding-left: 10px;
  img {
    width: 100px;
    margin-top: 10px;
  }
  .name {
    color: #fff;
    font-size: 24px;
    text-transform: lowercase;
  }
}

.wrap {
  padding: 10px 5px;
  background: #fff;
}

.login img {
  cursor: pointer;
}

.people {
  font-family: Oxygen;
  background: rgba(128, 128, 128, 0.2);
  padding: 5px;
  margin-left: 20px;
  height: 400px;
  overflow: auto;
  li {
    display: inline-block;
    color: #eee;
    font-size: 10px;
    margin-right: 8px;
    width: 65px;
    img {
      width: 100%;
      display: block;
    }
  }
}

.w80 {
  width: 82% !important;
}

.w100 {
  width: 100%;
}

.p150 {
  width: 150px;
}

.p100 {
  width: 100px;
}

.inline {
  display: inline-block;
}

.abs {
  position: absolute;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.bgblack {
  background-color: #000 !important;
}

.cwhite {
  color: #fff;
}

.clearfix {
  clear: both;
}

.menuitem {
  padding: 4px 7px 3px 7px;
  margin-top: 3px;
  background: #444;
  display: inline-block;
  font-size: 12px;
}

.menuul {
  float: right;
  margin: 0;
}

.menuitem {
  &:hover, &.checkit {
    background: rgb(0, 173, 255);
    cursor: pointer;
  }
}

.info {
  color: #ddd;
  font-size: 24px;
  font-family: Oxygen;
}

.tagcloud {
  background: steelblue;
  height: 300px;
  padding: 10px 20px;
  ul {
    list-style: none;
    li {
      float: left;
      margin: 0 0 3px 0;
      background: rgba(0, 161, 255, 0.87);
      margin-right: 5px;
      padding: 0 5px;
    }
  }
}
