<head>
  <title>fallenfollowers</title>
  <link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
</head>

<body>
<div class="toppanel">
  <div class="logo">
    <img src="img/logo.png"/>
  </div>
  <ul class="menuul">
    <li class="menuitem {{#if ishome}} checkit {{/if}}">HOME</li>
    <li class="menuitem {{#if isabout}} checkit {{/if}}">ABOUT</li>
    <li class="logout"><img src="img/btn-disconnect-sc-l.png"></li>
  </ul>
</div>
</body>
<template name="Home">
  <div class="wrap">
    <div class='title inline left'>
      <div class="name">{{name}}</div>
    	<img src="{{avatar}}" class="inline"/>
    </div>
    <div class="people w80 inline">
      {{#if loading}}
        <img src="img/ajax-loader-black.gif"/>
      {{/if}}
    </div>
    <br/>
    {{#if istag}}
    <div class="w100 tagcloud">
        <ul>
            {{#each tags}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
  </div>
</template>
<template name="Login">
  <div class="wrap">
    <div class="login">
    {{#if islogged}}
      <img src="img/btn-connect-sc-l.png"/>
    {{else}}
        <a href="/home">Login in</a>
    {{/if}}
    </div>
  </div>
</template>
<template name="followers">
  <ul>
    {{#each followers}}
      <li>
        {{username}}
        <img src="{{avatar_url}}"/>
      </li>
    {{/each}}
  </ul>
</template>
<!-- <template name="Login">
  <p>Please log in with SoundCloud</p>
</template> -->
<template name="About">
  <div class="wrap bgblack cwhite">
    <p>
      <h2 class="left abs">~ jabdesign presents</h2>
      <div class="center w100">
        <img src="img/jab.png" class="p100" />
      </div>
      <div class="clearfix"></div>
    </p>
  </div>
  <div class="wrap">
    <div class="info">
          find new music based on your soundcloud activity.<br/>
    </div>
  </div>
</template>

