@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-rpoqfx');
	src:url('../fonts/icomoon.eot?#iefix-rpoqfx') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-rpoqfx') format('woff'),
		url('../fonts/icomoon.ttf?-rpoqfx') format('truetype'),
		url('../fonts/icomoon.svg?-rpoqfx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
	content: "\e60a";
}
.icon-heart:before {
	content: "\e600";
}
.icon-heart2:before {
	content: "\e601";
}
.icon-play:before {
	content: "\e602";
}
.icon-pause:before {
	content: "\e603";
}
.icon-stop:before {
	content: "\e604";
}
.icon-first:before {
	content: "\e605";
}
.icon-last:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-uniE608:before {
	content: "\e608";
}
.icon-soundcloud:before {
	content: "\e609";
}
